.ln-logo-minimal {
    position: relative;
    width: 250px;
    height: 150px;
}

.ln-logo-minimal .letter-l-thick {
    width: 100px;
    height: 150px;
    background: linear-gradient(195.49deg, #000000 20%, #FF2400 100%);
}

.ln-logo-minimal .letter-n-thick {
    width: 125px;
    height: 150px;
    left: 125px;
    background: linear-gradient(18.37deg, #000000 20%, #FF2400 100%);
}

.ln-logo-minimal .ln-connector {
    width: 30px;
    height: 150px;
    left: 100px;
    background: #FF2400;
    opacity: 0.9;
}
